@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary-gradient {
    @apply bg-gradient-to-r from-purple-600 to-pink-700 bg-clip-text text-transparent;
  }

  .bg-primary-gradient {
    @apply bg-gradient-to-r from-purple-600 to-pink-700;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
